*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    width: 900px;
    margin: 30px auto;
    text-align: justify;
}

img{
    width: 300px;
    margin: 10px auto;
    display: block;
}

.clear{
    clear: left;
}

h1{
    margin-top: 10px;
}

p{
    padding: 3px;
}

